<%- include('../partials/header') %>
<div>
    RELATÒRIO DE USUÁRIO
    <ul>
        <li><a href="/relatorios">Relatórios</a></li>
    </ul>
    <table boder="1px">
        <tr>
            <th>Nome</th>
            <th>E-Mail</th>
        </tr>
    </table>

</div>
<%- include('../partials/footer') %>