<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SESAP</title>
    <style>
        ul.menu {
            list-style-type: none;
            margin: 0;
            margin-bottom: 20px;
            padding: 0;
            overflow: hidden;
            background-color: #333333;
        }

        ul.menu li {
            float: left;
        }

        ul.menu li a {
            display: block;
            color: white;
            text-align: center;
            padding: 16px;
            text-decoration: none;
        }

        ul.menu li a:hover {
            background-color: #111111;
        }
    </style>
</head>

<body>
    <h1>SESAP</h1>
    <ul class="menu">
        <li><a href="/">Início</a></li>
        <li><a href="/usuarios">Usuários</a></li>
        <li><a href="/relatorios">Relatórios</a></li>
    </ul>
</body>

</html>