<%- include('../partials/header') %>
<div>
    <h1>USUÁRIOS</h1>
    <ul>
        <li><a href="/usuarios/novo">Criar usuário</a></li>        
    </ul>

    <h2>Lista</h2>
    <table>
    <% usuarios.forEach( (usuario) => { %>
        <tr>
            <td><%= usuario.nome %></td>
            <td><%= usuario.email %></td>
        </tr>
    <% } ) %>
    </table>

</div>

<%- include('../partials/footer') %>